<form
    method="post"
    action="{{ path('app_soiree_delete', { id: soiree.id }) }}"
    onsubmit="
        return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');
    "
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ soiree.id) }}"
    />
    <button
        class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition-colors duration-200"
    >
        Supprimer
    </button>
</form>
