{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h2>Historique</h2>
    <ul>
        {% for année, description in historique %}
            <li><strong>{{ année }}</strong> : {{ description }}</li>
        
            {% else %}
            <li>Aucun événement historique disponible.</li>
        {% endfor %}
    </ul>
    {{ dump(historique) }}
    {{ dump() }}
</div>
{% endblock %}
