<div class="menu">
    <ul>
        <li><a href="{{ path('global') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</div>
