body {
    background-color: skyblue;
}

.menu {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: blue;
}
